## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

.idea

## PROJECT::GENERAL
coverage
rdoc
pkg
dist

spec/tmp/
spec/dummy/log/
spec/dummy/db/*.sqlite3

Gemfile.lock
